<div *ngIf="!deviceXs">
    <mat-toolbar class="header">
        <span>
            <a routerLink="/">
                <img class="logo" src="assets/img/logo.png" alt="logo">
            </a>
        </span>
        <span class='title-group'>
            <a>
                <i class='material-icons'>
                    dashboard
                </i>
                Sistema de Controle Fechadura Eletrônica
            </a>
        </span>
    </mat-toolbar>
</div>

<div *ngIf="deviceXs">
    <mat-toolbar xLayout="row" fxLayoutAlign="space-between center">
        <mat-toolbar-row>
            <span class='title-group'>
                <a>
                    <i class='material-icons' style="vertical-align: sub;">
                        dashboard
                    </i>
                    Fechadura Eletrônica
                </a>
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()">
                <i class='material-icons'> menu </i>
                Menu
            </button>
            <span class="menu-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <mat-nav-list class="nav-list">
                <a mat-list-item href="/">
                    <i class="material-icons" style="padding-right: 5px;">
                        home
                    </i>
                    Início 
                </a>
                <a mat-list-item href="/usuarios">
                    <i class="material-icons">
                        perm_identity
                    </i>
                    Lista de Usuários
                </a>
                <a mat-list-item href="/tabela">
                    <i class="material-icons" style="padding-right: 5px;">
                        list
                    </i>
                    Tabela de Entradas 
                </a>
                <a mat-list-item href="/vincula">
                    <i class="material-icons" style="padding-right: 5px;">
                        add
                    </i>
                    Vincular Tags 
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="height: 88vh;">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>