.header{
    display: flex;
    align-items: center;
    width: 100%;
    min-width: min-content;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 25px;
}

.header .logoMobile{
    max-height: 50px;
}

.header .title-group{
    padding-left: 25px;
    font-family: 'Times New Roman';
    font-style: inherit;
    font-size: 20px;
    color: White;
}

.header .title-group i{
    padding-right: 15px;
}

