.header{
    display: flex;
    align-items: center;
    background-color: #E4ECF5;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 50px;
}

.header .title-group{
    padding-left: 25px;
    font-family: 'Times New Roman';
    font-style: inherit;
    font-size: 20px;
    color: black;
}

.header .title-group i{
    padding-right: 15px;
}