<mat-card fxLayout="column" fxLayoutAlign="space-around start" >
    <mat-card-title>Vincular Tags</mat-card-title>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Lista Tags</mat-label>
            <mat-select [(value)]="pessoa.tag">
              <mat-option *ngFor="let tag of usuariosTags" [value]="tag.tag">{{tag.tag}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="button" mat-raised-button (click)="atualizar()">
            Carregar
        </button>
    </form>
    <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="pessoa.nome" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nubank" [(ngModel)]="pessoa.nubank" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button class="button" mat-raised-button (click)="vincularTag()">
        Salvar
    </button> 
</mat-card>

