<button mat-raised-button (click)="updateData()"> 
    Atualizar Tabela 
</button>

<mat-form-field color="warn" appearance="fill">
    <mat-label>Entre com o intervalo de data</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Data inicial">
      <input matEndDate formControlName="end" placeholder="Data final">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Data de inicio inválida</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Data final inválida</mat-error>
</mat-form-field>
  
<p>Selected range: {{range.value | json }}</p>
