<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Pagina Inicial
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Notas de Implementação
    </mat-card-subtitle>
    <p>
        -Lista dos usuários cadastrados na porta com opção de filtragem, ordenação e exclusão (do banco);
    </p>
    <p>
        -Tabela de entradas dos usuários com horário e data com opções de filtragem e ordenação;
    </p>
    <p>
        -Opção de vinculação de tags sem/recém cadastradas.
    </p>
</mat-card>