.footer{
    position: fixed;
    bottom: 0;
    background-color: #E4ECF5;
    display: "flex";
    justify-content: flex-end;
    color:black;
    font-family: 'Times New Roman';
}

.footer > span{
    font-size: 1.2rem;
}

.footer i{
    padding-left: 10px;
}

