.footer{
    position: fixed; 
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    color:White;
    font-family: 'Times New Roman';
}

.footer > span{
    font-size: 1.2rem;
}

.footer i{
    padding-left: 10px;
}

