.full-width-table {
  width: 100%;
}

.button{
  margin-right: 10px;
}

.datePicker{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.matCardBody{
  margin-bottom: 10px;
}

.nameBody{
  margin-right: 10px;
}

.table{
  display: flex;
  width: 100%;
}