.sidenav{
    width: 200px;
}

.sidenav a{
    color: #FFF;
}

.sidenav i{
    padding-right: 10px;
}

/* DESCOMENTADO */
/* .content{
    padding: 16px;
    background-color: #FFF;
    color: black;
} */
