/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue{
    color: #4682B4;
}

.v-middle{
    vertical-align: middle;
}

.mat-drawer-content {
    background-color: white;
}

.mat-card {
    margin: 8px 8px 8px 8px;
}

/* .home[_ngcontent-lwb-c166] .subtitle[_ngcontent-lwb-c166] {
    font-size: 1.1rem;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    max-inline-size: fit-content;
} */